name: Pull notebook subtree
on: [repository_dispatch]

jobs:
  pull-notebook-subtree:

    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2

        - name: Pull from subtree
          run: git subtree pull --prefix=_notebooks https://github.com/infogulch/notebook.git master -m "Update notebooks subtree"

        - name: Push subtree changes
          run: git push

