name: Pull notebooks repo subtree
on: 
  repository_dispatch:
    types: [notebooks_push]

jobs:
  pull-notebook-subtree:

    runs-on: ubuntu-latest

    steps:
        - uses: actions/checkout@v2

        - name: debug
          run: pwd; ls -la

        - name: Pull from subtree
          run: git subtree pull --prefix=_notebooks https://github.com/infogulch/notebooks.git master -m "Update notebooks subtree"

        - name: Push subtree changes
          run: git push

